<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="../src/images/simbolo.ico"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../src/css/reset.css" />
    <link rel="stylesheet" href="../src/css/style-menu-inicial.css" />
    <link rel="stylesheet" href="../src/css/responsive.css" />
    <title>Industrias Wayne</title>
  </head>
  <body>
    <main class="container">
      <nav class="nav-bar">
        <a href="/menu-inicial">
          <img src="../src/images/simbolo.png" alt="logo-wayne"
        /></a>
        <ul class="menu">
          <li class="acesso"><a href="/recursos">Acessar</a></li>
          <li><a href="/logout">Sair</a></li>
        </ul>
      </nav>
      <section class="about">
        <div class="content-about">
          <h1 class="bem-vindo">Bem vindo as Industrias Wayne</h1>
          <p class="text">
            A Wayne Enterprises é uma empresa fictícia na DC Comics, propriedade
            de Bruce Wayne, também conhecido como Batman. É uma mega-corporação
            que opera em diversas áreas, incluindo biotecnologia, construção
            naval, aeroespacial e até mesmo entretenimento. A empresa serve como
            fonte de recursos tecnológicos e financeiros para o Batman,
            permitindo que ele desenvolva e utilize sua tecnologia de combate ao
            crime.
          </p>
          <a href="/recursos">Acesse o Sistema</a>
        </div>
      </section>
      <!-- 
    <footer class="footer">
      <a href="#"> <img src="./src/images/letreiro.png" alt=""></a>
    </footer> -->
    </main>
    <video class="background" autoplay loop muted>
      <source
        src="../src/assets/gotham-city-view.1920x1080.mp4"
        type="video/mp4"
      />
    </video>
    <footer>
      <a href="/menu-inicial">
        <img src="../src/images/LOGO VINI.png" alt="logo-wayne" />
      </a>
      <p class="copyright">© 2025 Vinicius Dev Front-end. Todos os direitos reservados.</p>
    </footer>

    <script type="module" src="../src/js/menu.js"></script>
  </body>
</html>
